<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Socket.IO whiteboard</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  </head>
  <body>
    <canvas class="display hidden"></canvas>
    <canvas class="boardOne"></canvas>

    <div class="colors">
      <div id="btn1" class="color black">
        <audio id="audio1"></audio>
      </div>
      <div id="btn2" class="color red">
        <audio id="audio2"></audio>
      </div>
      <div id="btn3" class="color green">
        <audio id="audio3"></audio>
      </div>
      <div id="btn4" class="color blue">
        <audio id="audio4"></audio>
      </div>
      <div id="btn5" class="color yellow">
        <audio id="audio5"></audio>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="main.js"></script>
  </body>
</html>
