<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Socket.IO whiteboard</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body id="welcomeBody">
    <div id="albumImg">
      <img src="assets/ChimeAlbumLogo.svg" />
    </div>

    <div id="welcomeText">
      <p>
        This experience was made using the voices collected over the last 12
        weeks from the RIT community and beyond. Let’s come together to
        celebrate the harmony in togetherness.
      </p>
    </div>
    <form action="/boardOne" method="GET">
      <button id="welcomeStartButton">Start</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <!-- <script src="main.js"></script> -->
  </body>
</html>
